


    <%- include('../layouts/admin-header.ejs') %>




  
    <section class="contact_section ">
        <div class="container text-center page404">
    
            <h1 class="">404</h1>
    
            <h2 class="">Oops...... This page is not found.</h2>
            <a href="/admin"><button class="btn main-btn">Back to home</button></a>
        </div>
    </section>

  
    

