<%- include('../layouts/user-header') %>

    <section class="about">

        <h1 class="title">why choose us?</h1>

        <div class="row">

            <div class="image">
                 <img src="/public/images/brand-img.jpg" alt="" style="height: 1000%; width:100%;">
            
            </div>

            <div class="content">
               <p>The proposed project “Bookz Kart” has been developed to overcome the problem faced in the practicing of the manual system. This software is built to eliminate and in some cases reduced the hardships faced by the existing system.
                Bookz Kart provides an alternative means of e-commerce for selling books for the students and remaining people.
               The system also comes with a great benefit which is that it also provides an enquiry of books and also the uploading and purchasing books.
               </p>
                
            </div>

        </div>

       

        <section id="feature" class="section-p1">
            <div class="fe-box">
                <img src="https://i.postimg.cc/PrN2Y6Cv/f1.png" alt="">
                <h6>Free Shipping</h6>
            </div>

            <div class="fe-box">
                <img src="https://i.postimg.cc/qvycxW4q/f2.png" alt="">
                <h6>Online Order</h6>
            </div>

            <div class="fe-box">
                <img src="https://i.postimg.cc/1Rdphyz4/f3.png" alt="">
                <h6>Save Money</h6>
            </div>

            <div class="fe-box">
                <img src="https://i.postimg.cc/GpYc2JFZ/f4.png" alt="">
                <h6>Promotions</h6>
            </div>

            <div class="fe-box">
                <img src="https://i.postimg.cc/4yFCwmv6/f5.png" alt="">
                <h6>Happy Sell</h6>
            </div>

            <div class="fe-box">
                <img src="https://i.postimg.cc/gJN1knTC/f6.png" alt="">
                <h6>F24/7 Support</h6>
            </div>

        </section>
    </section>


    <%- include('../layouts/user-footer-section') %>

        <%- include('../layouts/user-footer') %>